.heading {
    padding: 200px 240px 150px 240px;
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}

.head-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.head-content {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
}

.btn-style {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

.flower {
    padding: 0px 0px 0px 75px;
}

/* featured section */

.feature-item {
    margin-top: 140px;
}

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.feature-content {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 440px;
    margin-right: 440px;
}

.image-container {
    display: flex;
    margin-left: 240px;
    margin-right: 240px;
}

#img1 {
    width: 150px;
    height: 230px;
    flex-shrink: 0;
    margin: 25px;
    padding: 140px 75px 0px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

#img2 {
    width: 220px;
    height: 230px;
    flex-shrink: 0;
    margin: 20px;
    padding: 100px 35px 40px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

#img3 {
    width: 150px;
    height: 230px;
    flex-shrink: 0;
    margin: 20px;
    padding: 100px 75px 40px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.image-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 0px;
}

/* offer section */

.offer {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    margin-top: 140px;
}

.offer-contents {
    text-align: center;
    width: 55%;
    margin-top: 100px;
}

